absl-py
anyio
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
astunparse
async-lru
attrs
Babel
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
cv
cycler
debugpy.post==1.6.7.post1
decorator
defusedxml
distlib
executing
fastjsonschema0
filelock
Flask
flatbuffers
fonttools
fqdn
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idnamgviz
ipykernel1
ipython
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab_server
keras1
kiwisolver
labelImg
labelme
libclang
lxml
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkxotebook
notebook_shim
numpy
oauthlib
opencv-python
opt-einsum
overrides
packagingpandas
pandocfilters
parso
pickleshare
Pillow
platformdirs0
prometheus-client1
prompt-toolkit9
protobuf4
psutil
pure-eval
pyasn1
pyasn1-modules
pycocotools
pycparserPygments1
pyparsing
PyQt59
PyQt5-Qt52
PyQt5-sip
python-dateutil
python-json-logger
pytz
pywin32ywinpty1
PyYAML
pyzmq
QtPy
referencing
requests1
requests-oauthlib
rfc3339-validator
rfc3986-validator
rpds-py
rsacikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
terminado
threadpoolctl
tinycss2
torch
torchaudio
torchvision
tornado
traitlets
typing_extensions
tzdata3
uri-template
urllib3
virtualenv
wcwidth
webcolorswebencodings
websocket-client
Werkzeug
wrapt
